/* Reset CSS */
html {
   scroll-behavior: smooth;
}
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2 h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

html,
body {
   height: 100%;
   line-height: 1;
}

button {
   background-color: transparent;
   border: none;
   padding: 0;
}

/*==================================================================*/

html {
   font-size: 10px;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   color: #fff;
   background: #1C1B21;
   min-height: 100vh;

}

.wrapper {
   overflow: hidden;
   display: flex;
   position: relative;
   flex-direction: column;
   min-height: 100%;


}

main {
   flex: 1 1 auto;
}


.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header__container {
   max-width: 1110px;
   margin: 0px auto;
   display: flex;
   align-items: center;
   min-height: 111px;
   padding: 0px 95px;
   justify-content: space-between;
   
}


.logo {}

.header__menu {
   /* height: auto !important; */
}
.header__menu__auto{
   /* height: auto; */
}
.menu {
   /* display: flex;
   justify-content: flex-end;
   flex: 1 1 auto; */
}

.menu__list {
   display: flex;
   gap: 5.6rem;
   /* height: auto; */

}

.menu__item {}

.menu__link {
   font-weight: 600;
   font-size: 1.8rem;
   line-height: 1.5;
   color: #fff;
   transition: all 0.3s ease-out;
}

.menu__link:hover {
   color: #8E66CC;
}

.menu__open {
   display: none;
}

.header-nav {
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fixed-header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 160;
   background-color: rgba(0, 0, 0, 0.6); 
}


/*==========================MAIN=====================================*/


.new-single {
   position: relative;
   width: 100%;
   min-height: 100vh;
   left: 0;
   top: 0;
   background-image: url(img/main.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   justify-content: flex-end;
   align-content: center;
   flex-direction: column;
}

.new-single:before {
   content: '';
   position: absolute;
   width: 100%;
   min-height: 100vh;
   display: flex;
   left: 0;
   top: 0;
   bottom: 0;
   background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(166, 166, 168, 0.390625) 0%, #1C1B21 100%);

}

.new-single__container {
   max-width: 1140px;
   margin: 0px auto;
   padding-top: 426px;
   padding-left: 15px;
   padding-right: 15px;
}


.new-single__content {
   position: relative;
}


.new-single__block-text {}

.block-text__title {
   font-size: calc(28px + (48 - 28) * ((100vw - 320px) / (1140 - 320)));
   font-weight: 700;
   line-height: 1.5

}

.block-text__song-name {
   font-size: calc(42px + (100 - 42) * ((100vw - 320px) / (1140 - 320)));
   font-weight: 700;
   line-height: 1.5;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px #fff;

}

.new-single__audio {
   margin-bottom: 287px;

}

.audio-new-single {}

.new-single-img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

/*============================NEWS=================================*/

.news {}

.news-container {
   max-width: 1140px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;


}

.news-content {
   position: relative;
}

.news-block__news {
   display: flex;
   position: absolute;
   left: 0;
   right: 0;
   transform: translate(0%, -50%);
   z-index: 40;
   justify-content: center;
   gap: calc(20px + (30 - 20) * ((100vw - 768px) / (1140 - 768)));

}

.news-block-link {
   position: relative;
   transition: transform .3s linear;

}




.news-block-link:hover {
   transform: scale(1.03, 1.03);

}

.news-block-image {
   border-radius: 20px 0px;
}

.news-image {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.text {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   font-size: calc(10px + (16 - 10) * ((100vw - 768px) / (1140 - 768)));
   font-weight: 500;
   line-height: 1.5;
   padding: 2.1rem 2rem;
   color: #fff;
   background: rgba(122, 102, 204, 0.7);
   border-radius: 2rem 0rem;
}


/*===============ABOUT US======================================*/

.about-us {}

.about-us-container {
   display: flex;
   align-items: flex-start;
   max-width: 1140px;
   margin: 0px auto;
   position: relative;
   left: 0;
   top: 0;
   padding-left: 15px;
   padding-right: 15px;
}

.about-us-content {
   margin-top: 324px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;

}

.about-us-block__text {

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
}


.icon-title {
   display: flex;
   align-items: center;
   gap: 3rem;
   margin-bottom: -10px;
   position: relative;
}
.icon-title img{
   max-width: 100%;
   height: auto;
   object-fit: cover;

}

.anime-wrapper {
   position: relative;
   width: 64px;
   height: 31px;
}

.anime {
   position: absolute;
   display: flex;
   align-items: flex-end;
   height: 100%;
   width: 100%;
   bottom:0;
   left:0;
}

.anime-wrapper .anime div:nth-child(1){
   width: 10%;
   animation: waves 4s -4.000s linear infinite;
}
.anime-wrapper .anime div:nth-child(2){
   width: 10%;
   animation: waves 4s -3.599s linear infinite;
}
.anime-wrapper .anime div:nth-child(3){
   width: 10%;
   animation: waves 4s -3.099s linear infinite;
}
.anime-wrapper .anime div:nth-child(4){
   width: 10%;
   animation: waves 4s -3.309s linear infinite;
}
.anime-wrapper .anime div:nth-child(5){
   width: 10%;
   animation: waves 4s -2.499s linear infinite;
}
.anime-wrapper .anime div:nth-child(6){
   width: 10%;
   animation: waves 4s -2.200s linear infinite;
}
.anime-wrapper .anime div:nth-child(7){
   width: 10%;
   animation: waves 4s -1.800s linear infinite;
}
.anime-wrapper .anime div:nth-child(8){
   width: 10%;
   animation: waves 4s -1.400s linear infinite;
}
.anime-wrapper .anime div:nth-child(9){
   width: 10%;
   animation: waves 4s -0.600s linear infinite;
}
.anime-wrapper .anime div:nth-child(10){
   width: 10%;
   animation: waves 4s 0.000s linear infinite;
}

.about-us-text {
   line-height: 1.5;
   font-size: 1.6rem;
   font-weight: 400;
   opacity: 0.7;
   flex: 0 1 48%
}

.about-us-photo {
   flex: 0 1 45%;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   padding-left: 15px;
   position: relative;
}
.about-us-photo img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

.about-us-add {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 3.2rem;
   justify-content: flex-start;


}


.add1 {
   display: flex;
   gap: 3.2rem;
   flex: 0 1 100%;

}

.add2 {
   display: flex;
   gap: 5.2rem;

}

.add-based-in {}

.add-founded-in {}

.add-genre {}

.add-label {
   margin: auto;
}

.add-icon {
   display: flex;
   gap: 2rem;

}

.add-text {
   line-height: 1.5;
   font-size: 1.8rem;
   font-weight: 500;
}

/*===================POPULOVE=============*/
.populove {
   margin-top: 236px;
}

.populove__container {
   max-width: 1140px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
}

.populove__content {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   border: 1px solid #FFFFFF;
   border-radius: 3rem 0rem;
   max-width: 1110px;
   min-height: 313px;


}

.populove__block-text {
   display: flex;
   flex-direction: column;
   padding: 5rem 51rem 5rem 8rem;
   gap: 2.5rem;


}

.populove__text {
   position: relative;
   max-width: 520px;
   font-size: 1.8rem;
   background: url(img/quotes.svg) no-repeat;
   font-weight: 400;
   line-height: 1.5;
   border-bottom: 1px solid rgba(255, 255, 255, .6);
   padding-bottom: 2.5rem;

}

.populove__link {
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.5;
   color: #7A66CC;

}



.populove__img {
   position: absolute;
   left: 50%;
   transform: translate(29%);
}
.populove__img img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
}

/*========================Last tracks===================*/
.last-tracks {}

.last-tracks__container {
   max-width: 1140px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
}

.last-tracks__content {
   margin-top: 265px;
   display: flex;
   align-items: flex-end;
   flex-direction: column;

}

.last-tracks-icon {
   display: flex;
   padding-bottom: 27px;
   align-items: flex-start;


}

.last-tracks-img {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: rgba(122, 102, 204, 0.3);
   width: 51rem;
   height: 51rem;

}
.last-tracks-img img {
   max-width: 100%;
   height: auto;
   object-fit: cover;

}

.last-tracks-img:before {
   content: '';
   width: 47.222rem;
   height: 47.222rem;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: rgba(122, 102, 204, 0.6);
}

.photo {
   position: relative;
}

.last-tracks-block {

   display: flex;
   align-items: flex-end;
   gap: 6rem;
}

.icon-title-2 {
   display: flex;
   align-items: center;
   gap: 3rem;
   margin-right: 175px;
   margin-bottom: -27px;

}

.block-text__title {}

.tracks-play {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 5rem;
}

.play-img {}

.tracks-play__nav {}

.tracks-play__list {
   display: flex;
   align-items: flex-start;
   gap: 2rem;
   flex-direction: column;

}

.tracks-play__item {}

.tracks-play__link {
   display: flex;
   align-items: baseline;
   gap: 1rem;

}

.song {
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.5;
   color: #fff;
   transition: all .3s ease-out;


}

.marker {
   display: flex;
   align-content: flex-start;
   font-size: 1.4rem;
   font-weight: 700;
   opacity: 0.5;
   color: #fff;

}

.song:hover {
   color: #7A66CC;
}

.follow-me {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 3rem;
}

.follow-me span {
   font-size: 2.4rem;
   font-weight: 600;
   line-height: 1.5;

}

.folow-me__link {}

.spotify {
   position: relative;
}

.itunes {
   position: relative;

}

.itunes-color,
.spotify-color {
   position: relative;
   background: #000;
   padding: 0.3rem;
   border-radius: 8%;
   border: 1px solid #fff;
   z-index: 1;
   transition: all .3s linear;
}

.spotify-color:hover {
   background: rgba(22, 166, 41, 1);
}

.itunes-color::before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   padding: 0.5rem;
   border-radius: 8%;
   background: -webkit-linear-gradient(135deg, rgb(247, 51, 9) 11%, rgb(194, 28, 223) 41%, rgb(17, 227, 227) 83%);
   background: -moz-linear-gradient(135deg, rgb(247, 51, 9) 11%, rgb(194, 28, 223) 41%, rgb(17, 227, 227) 83%);
   background: linear-gradient(135deg, rgb(247, 51, 9) 11%, rgb(194, 28, 223) 41%, rgb(17, 227, 227) 83%);
   opacity: 0;
   transition: opacity .3s linear;
}

.itunes-color:hover::before {
   opacity: 1;
}

.EDC__container {
   max-width: 1140px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
}

.EDC__content {
   display: flex;
   gap: 3rem;
   margin-top: 180px;
   align-items: center;

}

.EDC-first-block {}

.EDC-first-item {}

.EDC-first-img {
   transition: all .3s linear;
   max-width: 255px;
   height: auto;
   object-fit: cover;
}

.EDC-first-img:hover {
   opacity: 0.7;
   cursor: pointer;
}

.EDC-second-block {
   display: flex;
   flex-wrap: wrap;
   gap: 3rem;

}

.EDC-second-item-first {}

.EDC-second-img-first {
   max-width: 100%;
   height: auto;
   object-fit: cover;
   transition: all .3s linear;
}

.EDC-second-img-first:hover {
   opacity: 0.7;
   cursor: pointer;
}

.EDC-second-item-second {}

.EDC-second-img-second {
   max-width: 100%;
   height: auto;
   object-fit: cover;
   transition: all .3s linear;
}

.EDC-second-img-second:hover {
   opacity: 0.7;
   cursor: pointer;
}

.EDC-second-item-third {}

.EDC-second-img-third {
   max-width: 540px;
   height: auto;
   object-fit: cover;
}

.EDC-mainstage {
   position: relative;
}

.text-EDC {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   top: 0;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 1.5;
   text-align: center;
   color: #7A66CC;
   padding: 10rem;
   background: rgba(28, 27, 33, 0.8);
   border-radius: 30px 0px;
}

.EDC-third-block {}

.EDC-third-item {}

.EDC-third-img {
   transition: all .3s linear;
   max-width: 255px;
   height: auto;
   object-fit: cover;
}

.EDC-third-img:hover {
   opacity: 0.7;
   cursor: pointer;
}

/* ==================SLIDER================== */

.slider-tickets__container {
   max-width: 1280px;
   margin: 0px auto;
   padding-left: 10px;
   padding-right: 10px;
}

.slick-slide {
   margin: 0 15px;
}

.slick-list {
   margin-right: -15px;
   margin-left: -15px;
}

.slider-tickets__content {
   display: flex;
   padding-right: calc(20px + (80 - 20) * ((100vw - 890px) / (1300 - 890)));
   padding-left: calc(20px + (80 - 20) * ((100vw - 890px) / (1300 - 890)));
   align-items: center;
   margin-top: 180px;
   min-width: 0px;

}

.slider-tickets__content .slick-arrow {
   position: absolute;
   top: 43%;
   z-index: 10;
   font-size: 0;
   width: 40px;
   height: 60px;
   min-width: 0px;
}

.slider-tickets__content .slick-arrow.slick-prev {
   left: 0px;
   background: url('img/arrow-left.svg') 0 0 / 100% no-repeat;
   cursor: pointer;
}

.slider-tickets__content .slick-arrow.slick-next {
   right: 0px;
   background: url('img/arrow-right.svg') 0 0 / 100% no-repeat;
   cursor: pointer;
}

.slider-tickets__block {
   max-width: 350px;
   height: auto;
   background-color: #2F2B2B;
   border-radius: 30px 0px;
   display: flex;
   gap: 3rem;
   flex-direction: column;
   min-width: 0px;
}


.slider-tickets__block-first__picture img,
.slider-tickets__block-second__picture img,
.slider-tickets__block-third__picture img {
   max-width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 30px 0px;
   min-width: 0px;
}

.slider-tickets__block-first__text,
.slider-tickets__block-second__text,
.slider-tickets__block-third__text {
   display: flex;
   padding-left: 31.5px;
   flex-direction: column;
   gap: 2rem;
   min-width: 0px;
}

.city {
   font-weight: 700;
   font-size: 1.8rem;
   line-height: 1.5;
   color: rgba(255, 255, 255, 0.5);
   min-width: 0px;
}

.place {
   font-weight: 500;
   font-size: 1.8rem;
   line-height: 1.5;
   color: rgba(255, 255, 255, 1);
   min-width: 0px;
}



.slider-tickets__block-first__tickets,
.slider-tickets__block-second__tickets,
.slider-tickets__block-third__tickets {
   display: flex;
   min-width: 0px;
}

.date {
   flex: 1 0 50%;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.5;
   color: rgba(255, 255, 255, .5);
   text-align: center;
   text-transform: uppercase;
   padding: 18px 0 18px 0;
   min-width: 0px;
}

.tickets_link {
   flex: 1 0 50%;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.5;
   color: rgba(255, 255, 255, 1);
   text-transform: uppercase;
   text-align: center;
   padding: 18px 0 18px 0;
   background: #7A66CC;
   border-radius: 30px 0;
   transition: all .3s linear;
   min-width: 0px;
}

.tickets_link:hover {
   background: rgba(255, 255, 255, 1);
   color: #7A66CC;
   min-width: 0px;
}



/*==============FOOTER=========================*/


.footer {
   margin-top: 180px;
}

.footer__container {
   max-width: 1140px;
   margin: 0px auto;
   padding-left: 15px;
   padding-right: 15px;
}

.footer__content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}

.footer__logo {}

.footer__info {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   margin-top: 60px;
}

.footer__name {
   font-size: 1.8rem;
   line-height: 1.5;
   font-weight: 600;
   text-transform: uppercase;
   text-align: end;
}

.footer__text {
   font-size: 1.8rem;
   line-height: 1.5;
   font-weight: 400;
   text-transform: uppercase;

}

.footer__nav {}

.footer__list {
   display: flex;
   gap: 3rem;
   position: relative;
   margin-top: 60px;
}

.footer__item {}

.footer__link {
   position: relative;
   width: 6rem;
   height: 6rem;
   background: #2C2C2C;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: background 1 ease-out;
}

.footer__link:before {
   content: '';
   width: 4.4rem;
   height: 4.4rem;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: background 0.3s linear;
}

.footer__link:hover:before {
   background: #7A66CC;
}

.footer__img {
   position: relative;
}

.footer__end {
   font-size: 1.3rem;
   text-transform: uppercase;
   opacity: 0.5;
   line-height: 1.5;
   margin-top: 100px;
   margin-bottom: 74px;

}

.mail {
   color: #fff;
}
.arrow-up {
   width: 1.3rem;
   height: 1.3rem;
   border-top: 2px solid #fff;
   border-right: 2px solid #fff;
   margin: 0 auto;
   transform: rotate(-45deg);
  }   

.scroll-up{
   position: fixed;
   display: flex;
   align-items: center;
   right: 40px;
   bottom: 40px;
   width: 3rem; 
   height: 3rem;
   border-radius: 20%;
   background-color: #6E18C0;
   animation: bounce 2s ease-in-out infinite;
   visibility: hidden;
   z-index: -100;
   
}

.show-scroll-up {
   visibility: visible;
   z-index: 100;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}



/*-------------------------MEDIA---------------------------*/

@media (max-width: 1199.98px) {
   .header__container {
      max-width: 970px;
      padding: 0 55px;

   }

   .menu__list {
      display: flex;
      gap: 46px;
   }

   .EDC__content {
      flex-wrap: wrap;
      justify-content: center;
   }

   .EDC-second-block {
      order: 2;
      justify-content: center;
   }
}

/*--------------------MEDIA 992--------------------------*/
@media (max-width: 991.98px) {
   .header__container {
      max-width: 750px;
      padding: 0 15px;
      min-height: 90px;
   }

   .menu__list {
      display: flex;
      gap: 22px;
   }

   .add-label {
      margin: 0;
   }



   /* =================ABOUT US 992px================= */
   .about-us-content {
      flex-direction: column;
      gap: 60px;
   }

   .about-us-photo {
      padding-left: 0;
   }

   .about-us-block__text {
      padding: 0;
      gap: 60px;
   }

   .about-us-add {
      padding-top: 50px;
   }

   .icon-title {

      margin-bottom: 0px;

   }

   .about-us-text {
      order: 1;
   }

   .about-us-add {
      order: 2;
   }

   .about-us-block__text {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      gap: 40px;
   }

   .populove__container {
      display: flex;
      align-items: center;
      flex-direction: column;
   }

   .populove__content {
      flex-direction: column;
      padding: 20px;
      gap: 3rem;
   }

   .populove__block-text {
      padding: 0;
      order: 2;

   }

   .populove__img {
      position: relative;
      left: 0;
      transform: translate(1%);
      order: 1;
   }

   .last-tracks__content {
      align-items: center;
   }

   .last-tracks-block {
      flex-direction: column;
      align-items: center;
   }

   .icon-title-2 {
      margin-bottom: 30px;
      margin-right: 0px;
   }

   .last-tracks-icon {
      padding: 0;
   }

   .play {
      width: 100%;
   }


}

/*---------------------MEDIA 768-------------------------*/
@media (max-width: 767.98px) {
   .header__container {
      background: rgba(0, 0, 0, 0.6);
      max-width: none;
      flex-wrap: wrap;
      
      
   }

   .header-nav {
   padding: 15px 5px 15px 5px;
   }

   .header__menu {
      height: 0;
      overflow: hidden;
      transition: all .4s linear;
      
   }
  .menu__body{

   }

   .menu__open {
      display: flex;
      flex-direction: column;
      cursor: pointer;
   }

   .menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      
   }
   

   .menu__link {
      font-weight: 600;
      font-size: 22px;
      line-height: 1.5;
      color: #fff;
   }

 .fixed-header {
   background-color: rgba(0, 0, 0, 0.0); 
}


   /* ============== */
   
   


   /* ==============NEWS================= */

   .news-block__news {
      flex-direction: column;
      align-items: center;
      gap: calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
      transform: translate(0%, -15%);
   }

   .text {
      font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (768 - 320)));
      line-height: calc(1.3 + (1.5 - 1.3) * ((100vw - 320px) / (768 - 320)));

   }

   /* =================ABOUT US 768px================= */

   .about-us-content {
      margin-top: 924px;

   }

}

/*--------------MEDIA 575------------------*/

@media (max-width: 574.98px) {
  

   .about-us-add {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
   }

   .add1 {
      flex: 1;
      flex-direction: column;
   }

   .add2 {
      flex: 1;
      gap: 3.2rem;
      flex-direction: column;
   }

   .last-tracks__content {
      align-items: flex-start;
   }


   .last-tracks-img {
      background: none;
      width: 100%;
      height: 100%;

   }

   .last-tracks-img:before {
      display: none;
   }
   .follow-me span {
      flex: 1 0 100%;
   }

   .EDC-second-block {
      flex-direction: column;
      align-items: center;
   }

   .footer__list {
      flex-direction: column;
   }

   
}

@media (min-width: 1280px) {
   .slider-tickets__content {
      padding-left: 80px;
      padding-right: 80px;

   }

}

@media (min-width: 1140px) {
   .block-text__title {
      font-size: 4.8rem;
   }

   .block-text__song-name {
      font-size: 10rem;
   }

   .news-block__news {
      gap: 3rem;
   }

   .text {
      font-size: 1.6rem;
   }
   
}
.block1{
   display: flex;
   gap: 3rem;
}
.block2{
   display: flex;
   gap: 3rem;
}
.block3{
   display: flex;
   gap: 3rem;
}
@media screen and (min-width: 768px) {

   .header__menu {
      
      height: auto !important;
      
      
   }
}


@keyframes waves {
  0% {
    background: rgba(122, 102, 204, 0.7);
    height:65%;
  }
  25% {
   height:35%;
   background: rgba(122, 112, 204, 0.5);
  }
  50% {
    background: rgba(122, 112, 204, 1);
    height:85%;
  }
  75%{
   background: rgba(122, 112, 204, 0.3);
   height:65%;
  }
  100% {
   background: rgba(122, 106, 204, 0.9);
    height:100%;
  }
}