:root {
   --container-width: 1230px;
   --container-padding: 15px;

   --font-main: sans-serif;
   --font-accent: "Onest", sans-serif;
   --font-title: "TTNorms-Medium", sans-serif;

   --page-bg: #f7f6ff;
   --text-color: rgba(41, 39, 33, 1);
   --text-size: 18px;
   --text-link-size: 16px;
   --text-title-size: 55px;
   --btn-color-default-one: rgba(240, 99, 43, 1);
   --btn-hover-color-default-one: rgba(219, 74, 26, 1);
   --btn-color-default-two: rgba(255, 240, 234, 1);
   --btn-hover-color-default-two: rgba(255, 226, 215, 1);
   --btn-hover-color-outline: #1f1f1f;
   --btn-hover-color-more: #3057a2;
   --btn-color-one: #fff;
   --btn-color-two: rgba(240, 99, 43, 1);
   --btn-border-color-two: rgba(240, 99, 43, 0.2);
   --btn-border-size-two: 2px;
   
   
}

